/*
 * Erweiterung von Bootstrap
*/
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	}

/*
 * Eigene Styles
*/

body {
	background-color: #FAFAFF;
}

.breadcrumb {
	background-color: lightgray;
}

.breadcrumb > li + li::before {
	color: #000;
}

.breadcrumb > .active {
  color: black;
}

.input-group {
	margin-top: 10px;
}

.header-logo {
	background-image: linear-gradient(to top, #009ACD 0%, #87CEFA 50%);
	font-family: 'Sansita', sans-serif;
	border-radius: 20px 20px 4px 4px; /* Abrundung der linken Ecken in Header */
	padding: 3px 15px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.header-logo h1 {
	font-size: 60px;
	}

#menu {
	border: 1px solid lightgray;
	border-radius: 4px;
}

textarea {
	min-width: 100%;
	max-width: 100%;
}

.no-link a:hover, a:link, a:visited {
	color: black;
	text-decoration: none;
}
