<html ng-app="notizblogApp">
<head>
    <title>
        Artikel | notizblog
    </title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <meta charset="UTF-8"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <link href="css/notizblog.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet"/>
</head>
<body>
<div class="container" ng-controller="articleByIdCtrl" ng-model="actualArticle">
    <div ng-controller="categoryFromArticleCtrl" ng-model="actualCategory">
        <nb:header></nb:header>
        <ol class="breadcrumb">
            <li><a href="/">notizblog</a></li>
            <li><a href="/articlesOverview?category={{actualCategory.id}}">{{actualCategory.title}}</a></li>
            <li class="active">{{actualArticle.content.title}}</li>
        </ol>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <nb:menu></nb:menu>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-body" ng-controller="userFromArticleCtrl">
                        <img ng-src="{{actualArticle.picture}}" class="img-responsive img-rounded" alt=""/>
                        <br/>
                        <div class="row">
                            <div class="col-md-9">
                                <h2>{{actualArticle.content.title}}</h2>
                                Autor: {{actualArticle.author}}
                                (<a href="mailto:{{user.mail}}"><i>{{user.mail}}</i></a>)
                            </div>
                            <div class="col-md-3 text-right">
                                <span class="label label-primary">{{actualArticle.date | date: 'dd.MM.yyyy'}}</span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12" ng-controller="htmlVariableCtrl"
                                 ng-bind-html="trustHtml(actualArticle.content.text)">
                            </div>
                        </div>
                        <hr>

                        <!-- Kommentare -->
                        <form class="row" ng-controller="commentFormCtrl" ng-submit="addComment()">
                            <div class="form-group">
                                <label for="comment" class="col-md-2">Kommentar</label>
                                <div class="col-md-7">
                                    <input id="comment" type="text" class="form-control" ng-model="commentText">
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-info">Kommentieren</button>
                                </div>
                            </div>
                        </form>
                        <div ng-controller="allCommentsCtrl">
                            <div ng-repeat="comment in comments | orderBy: '-date' | filter: {article:actualArticle.id} | filter: {ancestor:-1} as filtered">
                                <nb:comments actual-comment="comment" all-comments="comments"></nb:comments>
                            </div>
                            <div ng-if="!filtered.length">Keine Kommentare</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-3.1.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-cookies.js"></script>
<script src="js/module.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>

<script src="js/notizblog.js"></script>
</body>
</html>
