<html ng-app="notizblogApp">
<head>
    <title>
        Artikel | notizblog
    </title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <meta charset="UTF-8"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <link href="css/notizblog.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet"/>
</head>
<body>
<div class="container" ng-controller="categoryByIdCtrl" ng-model="actualCategory">
    <nb:header></nb:header>
    <ol class="breadcrumb">
        <li><a href="/">notizblog</a></li>
        <li class="active">{{actualCategory.title}}</li>
    </ol>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <nb:menu></nb:menu>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div ng-controller="allArticlesCtrl">
                        <div ng-repeat="article in articles | orderBy: '-date' | filter: {content: {category:actualCategory.id}} as filtered">
                            <nb:articleteaser article="article"></nb:articleteaser>
                        </div>
                        <div ng-if="!filtered.length">Keine Artikel vorhanden</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-3.1.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-cookies.js"></script>
<script src="js/module.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
</body>
</html>
