<html ng-app="notizblogApp">
<head>
    <title>
        Meine Artikel | notizblog
    </title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <link href="css/notizblog.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <nb:header></nb:header>
    <ol class="breadcrumb">
        <li><a href="/">notizblog</a></li>
        <li class="active">Meine Artikel</li>
    </ol>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <nb:menu></nb:menu>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <div class="panel panel-default">
                <div class="panel-body" ng-controller="usernameCtrl">
                    <div class="text-right">
                        <button class="btn btn-info" ng-click="logout()" ng-controller="logoutCtrl">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Logout
                        </button>
                    </div>
                    Hallo {{ username }}!<br>
                    <a href="/newArticle">Hier</a> kannst du einen neuen Artikel schreiben.
                    <hr>
                    Deine Artikel:
                    <div ng-controller="allArticlesCtrl">
                        <div ng-repeat="article in articles | orderBy: '-date' | filter: {author:username} as filtered">
                            <div id="articleTeaser-{{article.id}}">
                                <nb:articleteaser article="article"></nb:articleteaser>
                                <div class="text-right" ng-controller="articleDeleteCtrl">
                                    <a class="no-link" href="/updateArticle?id={{ article.id }}">
                                        <button class="btn"><i
                                                class="fa fa-pencil"
                                                aria-hidden="true"></i></button>
                                    </a>
                                    <button class="btn" ng-click="deleteArticle()"><i class="fa fa-trash-o"
                                                                                      aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!filtered.length">Keine Artikel vorhanden</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-cookies.js"></script>
<script src="js/module.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
</body>
</html>
