<html ng-app="notizblogApp">
<head>
    <title>
        Meine Beiträge | notizblog
    </title>
    <meta charset="UTF-8"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <link href="css/notizblog.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <nb:header></nb:header>
    <ol class="breadcrumb">
        <li><a href="/">notizblog</a></li>
        <li class="active">Meine Beiträge</li>
    </ol>
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <nb:menu></nb:menu>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body" ng-controller="usernameCtrl">
                    <div class="text-right">
                        <button class="btn btn-info" ng-click="logout()" ng-controller="logoutCtrl">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Logout
                        </button>
                    </div>
                    Hallo {{ username }}!<br>
                    <a href="/newArticle">Hier</a> kannst du einen neuen Beitrag schreiben.
                    <hr>
                    Deine Beiträge:
                    Klicke auf einen Beitrag, um ihn zu ändern oder zu löschen.
                    <div ng-controller="allArticlesCtrl">
                        <div ng-repeat="article in articles | orderBy: '-date' | filter: {author:username} as filtered">
                            <hr/>
                            <div class="row">
                                <div class="col-md-9">
                                    <h3>
                                        <a href="/article?id={{article.id}}">{{article.content.title}}</a>
                                    </h3>
                                    Autor: {{article.author}}
                                </div>
                                <div class="col-md-3 text-right" ng-controller="articleManagementCtrl">
                                    <button class="btn" ng-click="UpdateArticle()"><i class="fa fa-pencil"
                                                                                      aria-hidden="true"></i></button>
                                    <button class="btn" ng-click="DeleteArticle()"><i class="fa fa-trash-o"
                                                                                      aria-hidden="true"></i></button>
                                    <span class="label label-primary">{{article.date | date: 'dd.MM.yyyy'}}</span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <img ng-src="{{article.picture}}" alt="" class="img-rounded img-responsive"/>
                                </div>
                                <div class="col-md-9 col-lg-9">
                                    {{article.content.text}}
                                </div>
                            </div>
                        </div>
                        <div ng-if="!filtered.length">Keine Beiträge vorhanden</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-cookies.js"></script>
<script src="js/module.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>

<script src="js/notizblog.js"></script>
</body>
</html>
